body {
    background-color: #d4eff2;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.wireframe {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    padding-top: 1rem;
 }

 .flextext{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
 }

 .styleguide{
    padding-bottom: 3rem;
 }

 h5{
    padding-bottom: 2rem;
 }